
h1{font-family: "Trebuchet MS", Arial; color: #cccccc;}
.adicionar{margin: 20px 0;}

.table > tbody > tr > td{vertical-align: middle;}
.panel-title span{color: #16a085}

.status{padding: 6px; margin-right: 10px;}